* text=auto

.gitattributes text eol=lf
LICENSE text eol=lf
NOTICE text eol=lf
CODEOWNERS text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.hook.* text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.asc text eol=lf
*.gpg binary
*.png binary
*.colors text eol=lf
*.desktop text eol=lf
*.qml text eol=lf
*.plymouth text eol=lf
debian/* text eol=lf
packages/*/debian/* text eol=lf
packages/*/debian/source/* text eol=lf
packages/*/payload/** text eol=lf
packages/*/payload/**/*.png binary
